# Welcome to Reece Boyce's Jupyter Notebook:

###### This Code is housing my portion of analysis and coding for our final Capstone project!

Importing processes!

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
pd = pd.read_csv('/Files/bom.movie_gross.csv.gz')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [9]:
pd.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [ ]:
pd.